Flask>=2.3.2
transformers>=4.34.0
torch>=2.2.0
faiss-cpu>=1.8.0
python-dotenv>=1.0.0
pandas>=2.0.0
sentence-transformers>=2.2.0
openpyxl
langchain 
langchain-community 
pypdf 
langchain-huggingface
prometheus-client
langchain-core==0.2.38
langchain-community==0.2.16
langchain-google-genai==1.0.10
google-generativeai